#hello {
	color:white;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

#shroff {
	font-family: 'Lobster', sans-serif !important;
	color:white;
	font-size: 48px;
	margin: 0;
	padding: 0;
}

#me {
	color:white;
	font-size: 24px;
	margin: 0;
	padding: 0;
}
body {
		font-family: 'Quicksand', sans-serif !important;
        background-color: #000000 !important;
        text-align:center;
      }

.centered_div {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.myicon {
    font-size:40px;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 55%;
    left: 50%;
    margin-top: 0px;
    margin-left: -200px;
}

.icon-social-spotify {
    color: white;
}

.icon-social-twitter {
    color: white;
}

.icon-social-instagram {
    color: white;
}
.icon-social-behance {
    color: white;
}
.icon-social-linkedin {
    color: white;
}
.icon-social-youtube {
    color: white;
}
.icon-social-github {
    color: white;
}
